body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
}
/*MENU*/
.menu{
	background-color: white;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

/*Home*/

#home{
	height: 600px;
	margin-top: 70px;
	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
	flex-direction: column;/*para que despliegue en forma vertical*/

	color: whitesmoke;
}
.text-home{
	font-size: 2.4em;
}

/*Service*/

#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
	justify-content: space-around;
	flex-wrap: wrap;
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;/*posicione lado derecho*/

}

#work{
  background-color:#F6D9CD ;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
  width: 100%;
}

#work .container{
  color: black;
  padding: 70px;
}

.text-work{
  font-size: 35px;
  letter-spacing: 2px;
}
/*.row:before, .row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}*/
.row{
  display: grid;
  grid-template-columns:30% 30% 30%;
  grid-gad:10px ;
  
}
.row img{
  width: 100%;
  margin-top: 10px;
  /*width: 200px;*/

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 240, 181,0.6); /* Fallback color */
    background-color: rgba(0, 240, 181,0.6); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border: 5px solid white;

}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #c10b0b;
    padding: 10px 0;
    height: 150px;
    font-weight: bold;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 79px;
    right: 409px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#work .picture {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 16px solid #F6D9CD;
    color: black;
}

#work .picture:hover {opacity: 0.7;}


footer {
	display: flex;
	justify-content: center;
}